:root {
  --orange: #d62828;
  --gray: #dee2e6;
}

.App img {
  max-width: 90%;
}

.text-orange {
  color: var(--orange);
}

.border-gray {
  border: 1px solid var(--gray);
}
.border-orange {
  border: 1px solid var(--orange);
}

.icon-rounded {
  border: 2px solid var(--gray);
  cursor: pointer;
  transition: all ease 0.2s;
}
.icon-rounded:hover {
  border-color: var(--orange);
}

input:focus,
textarea:focus {
  border-color: var(--orange) !important;
  box-shadow: none !important;
}
